.scene {
  display: flex;
  gap: 10vw;
  align-self: center;
  height: 80vh;
  justify-self: center;
}


.indicators {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 90vw;
  font-size: 24px;
}

.startBattle {
  background-color: black;
  color: white;
  padding: 10px 40px;
  align-self: flex-end;
  border: 1.5px solid black;
}

.startBattle:hover {
  background-color: white;
  color: rgb(0, 0, 0);

}