@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Pixelify+Sans:wght@400..700&family=Tiny5&family=VT323&display=swap');

::root {
  --button-color: green;
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'DotGothic16';
  transition: all .2s;
}

body{
  padding: 40px 60px;
  position: relative;
  height: 100vh;
  width: 100vw;
  /* overflow-y: auto; */
}

body::-webkit-scrollbar {
  visibility: hidden;
}